{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<main class="background">
    <div class="container top-container d-flex justify-content-center align-items-center" data-top-block>
        <div class="card form-container my-2">
            {% if confirmation %}
                {% if can_confirm %}
                    <header class="text-center">
                        <h1>Confirm Email</h1>
                    </header>
                    <hr class="divider">
                    <p>
                        Please confirm that <a class="link" href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is an email address for user {{ confirmation.email_address.user }}.
                    </p>
                    {% url 'account_confirm_email' confirmation.key as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        <button class="button btn-secondary px-2" type="submit">
                            <i></i><i></i>
                            <span>Confirm</span>
                        </button>
                    </form>
                {% else %}
                    <p>
                        Unable to confirm {{ confirmation.email_address.email }} because it is already confirmed by a different account.
                    </p>
                {% endif %}
            {% else %}
                {% url 'account_email' as email_url %}
                <p>
                    This email confirmation link expired or is invalid. Please <a class="link" href="{{ email_url }}">issue a new email confirmation request</a>.
                </p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock content %}
