{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_title %}- Login{% endblock extra_title %}

{% block content %}

<main class="background">
    <div class="container top-container d-flex justify-content-center align-items-center" data-top-block>
        <!-- Login form -->
        <div class="card form-container">
            <header class="text-center">
                <h1>Account Login</h1>
            </header>
            <hr class="divider">
            <form action="{% url 'account_login' %}" method="POST" class="d-flex justify-content-center align-items-center flex-column form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="id_login">Username:</label>
                    <input id="id_login" type="text" name="login" placeholder="Enter username">
                </div>
                <div class="form-field">
                    <label for="id_password">Password:</label>
                    <input id="id_password" type="password" name="password" placeholder="Enter password">
                    {% if form.errors %}
                        <p class="error-text">Invalid username or password. Please try again.</p>
                    {% endif %}
                </div>
                <!-- Forgot password link -->
                <a href="{% url 'account_reset_password' %}" class="pw-reset link">Forgot your password?</a>
                <div class="btn-container">
                    <button class="button btn-secondary btn-lg px-2" type="submit">
                        <i></i><i></i>
                        <span>Log in</span>
                    </button>
                    <button class="button btn-secondary btn-lg px-2" type="reset">
                        <i></i><i></i>
                        <span>Reset</span>
                    </button>
                </div>
                <!-- Link to registration page -->
                <p class="signup-text">Don't have an account? <a href="{% url 'account_signup' %}" aria-label="Sign up here" class="link">Sign up here</a></p>
            </form>
        </div>
    </div>
</main>

{% endblock content %}