{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_title %}- Password Reset Confirmation{% endblock extra_title %}

{% block content %}
<main class="background">
    <div class="container top-container d-flex justify-content-center align-items-center" data-top-block>
        <!-- Password change confirmation -->
        <div class="card form-container">
            <header class="text-center">
                <h1>Password Changed Successfully</h1>
                <hr class="divider">
            </header>
            <p>Your password is now changed and you may now <a href="{% url 'account_login' %}" aria-label="Log in here" class="link">log in.</a></p>
        </div>
    </div>
</main>
{% endblock content %}
