{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_title %}- Password Reset Form{% endblock extra_title %}

{% block head_scripts %}
    <script src="{% static 'js/disableSubmitButton.js' %}" defer></script>
{% endblock head_scripts %}

{% block content %}
<main class="background">
    <div class="container top-container d-flex justify-content-center align-items-center" data-top-block>
        <div class="card form-container">
            <header class="text-center">
                <h1>Password Reset Form</h1>
                <hr class="divider">
            </header>
            <form id="resetForm" action="{{ action_url }}" method="POST"
                class="d-flex justify-content-center align-items-center flex-column form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="id_password1">New Password:</label>
                    <input id="id_password1" type="password" name="password1" placeholder="Enter password">
                    {% for error in form.password1.errors %}
                        <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-field">
                    <label for="id_password2">New Password (again):</label>
                    <input id="id_password2" type="password" name="password2" placeholder="Enter password again">
                    {% for error in form.password2.errors %}
                        <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="btn-container">
                    <button id="submitButton" class="button btn-secondary" type="submit">
                        <i></i><i></i>
                        <span>Confirm</span>
                    </button>
                    <button class="button btn-secondary" type="reset">
                        <i></i><i></i>
                        <span>Clear</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
