{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_title %}- Password Reset Request{% endblock extra_title %}

{% block content %}
<main class="background">
    <div class="container top-container d-flex justify-content-center align-items-center" data-top-block>
        <div class="card form-container">
            <header class="text-center">
                <h1>Password Reset Request</h1>
                <hr class="divider">
            </header>
            <form action="{% url 'account_reset_password' %}" method="POST"
                class="d-flex justify-content-center align-items-center flex-column form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="email">Email:</label>
                    <input id="email" type="email" name="email" placeholder="Enter email" required>
                </div>
                <div class="btn-container d-flex justify-content-center">
                    <button class="button btn-secondary" type="submit">
                        <i></i><i></i>
                        <span>Reset</span>
                    </button>
                    <a href="{% url 'account_login' %}" class="button btn-info">
                        <i></i><i></i>
                        <span>Cancel</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
