{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Profile{% endblock %}

{% block content %}

<main>
    <div class="container top-container" data-top-block>
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="mb-4">My Profile</h1>
                <hr>
            </div>
        </div>
        

    <!-- Back to top button -->
    <a href="#" class="scroll-up-link" aria-label="Scroll to top button" data-scroll-up="Back to top">
        <i class="fa-regular fa-circle-up"></i>
    </a>
</main>
{% endblock %}