@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pavanam&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* Typography */

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pavanam', Arial, Helvetica, sans-serif;
}

hr {
    border: none;
    height: 1.5px;
    background-color: rgba(0,0,0,0.3);
}

/* Navbar */

.logo {
    padding: 10px;
    height: 100px;
}

@keyframes darken {
    0% { transform: scale(1); color: rgba(0,0,0,0.3); }
    25% { transform: scale(1); color: rgba(0,0,0,1); }
    50% { transform: scale(1); color: rgba(0,0,0,0.3); }
    75% { transform: scale(1); color: rgba(0,0,0,1); }
    100% { transform: scale(1); color: rgba(0,0,0,0.3); }
}

.search-btn i {
    color: rgba(0,0,0,0.3);
}
  
.search-btn:hover i {
    animation: darken 2s ease infinite;
}

.account-link, .shopping-link {
    color: rgb(108, 117, 125);
    transition: color 0.3s;
}

.account-link:hover, .shopping-link:hover {
    color: #000;
}

.nav-icon {
    padding-top: 20px;
}

.nav-icon > i {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 1.5rem;
}

/* Home page */

.hero-container {
    margin-top: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.hero-image {
    background-image: url('../../media/hero-image.png');
    background-size: cover;
    height: 75vh;
}

.hero-background {
    background-image: url('../../media/hero-background.jpg');
    background-size: cover;
    height: 75vh;
}

.hero-title {
    line-height: 0.8;
    margin-bottom: 60px;
    font-weight: bold;
}

.small-font {
    font-size: 50%;
}

.btn-hero {
    width: 120px;
    margin: 0 5px;
}