@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pavanam&display=swap');

:root {
    --color-primary: rgb(108, 117, 125);
    --color-secondary: rgba(0, 0, 0, 0.3);
    --color-tertiary: rgb(230, 230, 230);
    --color-accent: rgba(182, 211, 229, 0.5);
    --color-text: rgba(0, 0, 0, 1);
    --x: 45deg;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* Typography */

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pavanam', Arial, Helvetica, sans-serif;
}

.divider {
    border: none;
    height: 2px;
    background-color: rgb(210, 210, 210);
    width: 100%;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 428px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 376px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }
}

/* Buttons */

.button {
    width: 140px;
    height: 50px;
    margin: 0 5px;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
}

.button-small {
    width: 80px;
    height: 40px;
}

.button-long {
    width: 200px;
    margin: 0 5px;
}

.button i {
    position: absolute;
    inset: -2px;
    display: block;
    border-radius: 5px;
    background: linear-gradient(var(--x), rgba(255, 255, 255, 0.1), var(--color-secondary), var(--color-secondary), rgba(255, 255, 255, 0.1));
}

.button i:nth-child(2) {
    filter: blur(10px);
}

.button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--color-secondary);
    border-radius: 5px;
    overflow: hidden;
}

.button span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.075);
    transform: skew(25deg);
}

@media screen and (max-width: 768px) {
    .button {
        width: 120px;
        height: 40px;
    }

    .button-small {
        width: 80px;
    }

    .button-long {
        width: 160px;
    }
}

@media screen and (max-width: 428px) {
    .button-long {
        margin: 5px;
        font-size: 14px;
        width: 140px;
    }
}

@media screen and (max-width: 376px) {
    .button {
        width: 100px;
        font-size: 14px;
    }

    .button-small {
        width: 80px;
    }

    .button-long {
        width: 140px;
    }
}

@media screen and (max-width: 324px) {
    .button {
        width: 80px;
        font-size: 12px;
    }

    .button-long {
        width: 140px;
    }
}

/* Forms */

label {
    display: block;
    margin: 3px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
select,
textarea {
    border: 2px solid var(--color-tertiary);
    border-radius: 5px;
    padding: 5px 8px;
    transition: all 0.3s;
    margin-bottom: 10px;
    background-color: #f7f7f7;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea {
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: var(--color-primary);
    outline: 0;
}

input::placeholder {
    color: var(--color-secondary);
    font-weight: 600;
}

textarea {
    resize: none;
    height: 200px;
}

label {
    display: block;
    margin: 3px;
}

@media screen and (max-width: 428px) {
    label {
        font-size: 14px;
    }
}

/* Navbar */

.logo {
    padding: 10px;
    height: 100px;
}

#search-button span,
#search-button i,
#search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-link {
    color: var(--color-primary);
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #000;
}

.nav-icon {
    padding-top: 20px;
}

.nav-icon > i {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 1.5rem;
}

.nav-icon-text {
    font-size: 16px;
}

.nav-link {
    margin: 0 10px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--color-text);
}

.dropdown-item {
    position: relative;
}

.dropdown-item::after {
    content: '';
    display: block;
    width: 80%;
    border-bottom: 1px solid var(--color-tertiary);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-item:last-child::after {
    content: none;
}

.navbar.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

@media screen and (max-width: 1199px) {
    .nav-link {
        margin: 0 5px;
        font-size: 90%;
    }
}

@media screen and (max-width: 768px) {
    .nav-icon > i {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .nav-icon-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 428px) {
    .nav-icon > i {
        margin: 0 10px;
    }

    .nav-icon-text {
        display: none;
    }
    
    .cart {
        display: block;
    }
}

@media screen and (max-width: 324px) {
    .nav-icon > i {
        margin: 0 5px;
    }
}

/* Footer */

footer {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.github-link > i {
    color: #fff;
    transition: color 0.3s ease;
    font-size: 1.5rem;
}

.github-link:hover > i {
    animation: flash 1.5s infinite;
}

@keyframes flash {
    0%, 80%, 100% {
        color: #fff;
    }
    40% {
        color: rgba(0, 0, 0, 0.1);
    }
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

footer a:hover {
    color: rgba(182, 211, 229, 0.8);
}

.footer-link {
    margin: 0 8px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column-reverse;
    }

    .footer-links {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 428px) {
    .github-link > i {
        font-size: 1rem;
    }
}

@media screen and (max-width: 376px) {
    .footer-links a:nth-child(3) {
        display: block;
        margin: 0;
        margin-top: 5px;
    }

    .footer-link {
        margin: 0 4px;
    }
}

/* Home page */

.plain-background {
    background-color: rgb(250, 247, 247);
}

.hero-container {
    border-radius: 10px;
    overflow: hidden;
}

.mobile-hero-container {
    display: none;
}

.hero-image {
    background-image: url('../images/hero-image.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.hero-background {
    background-image: url('../images/hero-background.jpg');
    background-size: cover;
    height: 75vh;
    justify-content: space-between;
}

.hero-title {
    line-height: 1;
    margin-bottom: 30px;
    font-weight: bold;
}

.hero-subtitle {
    padding: 24px;
    padding-bottom: 0;
}

.small-font {
    font-size: 50%;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.hero-container {
    justify-content: center;
}

.section-header {
    background-color: var(--color-accent);
    border-radius: 5px;
}

.section-header > h2 {
    font-weight: bold;
    letter-spacing: 2.5px;
    padding: 20px 0;
}

.card-container {
    margin-top: 40px;
}

.showcase-card {
    border: solid 2px var(--color-tertiary);
    border-radius: 10px;
    overflow: hidden;
}

.middle-card {
    background: var(--color-accent);
}

.middle-card h3 {
    font-weight: bold;
    border-bottom: solid 3px var(--color-secondary);
}

.middle-card p {
    font-size: 120%;
}

.sub-header {
    background-color: var(--color-tertiary);
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 10px 0;
}

.hero-background > p {
    font-style: italic;
}

.sample {
    font-size: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.large-logo {
    width: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.scroll-up-link {
    display: inline-block;
    opacity: 0;
    text-align: center;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    transition: all 0.6s;
    margin: 2px;
}

.scroll-up-link:hover {
    color: rgba(0, 0, 0, 1);
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.scroll-up-link.show-link {
    opacity: 1;
}

.modal-content {
    border: 4px solid var(--color-tertiary);
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 991px) {
    .hero-subtitle {
        padding: 0;
        font-size: 28px;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .hero-container {
        display: none;
    }

    .mobile-hero-container {
        background-image: url('../images/hero-image.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .mobile-hero-container .hero-content {
        background: rgba(0, 0, 0, 0.3);
        padding: 20px;
        border-radius: 10px;
        color: #fff;
    }

    .large-logo {
        width: 150px;
    }

    .scroll-up-link {
        right: 2rem;
        bottom: 2rem;
        font-size: 32px;
    }
}

@media screen and (max-width: 428px) {
    .btn-container {
        margin-top: 12px;
    }

    .large-logo {
        width: 120px;
    }

    .scroll-up-link {
        right: 1.5rem;
        bottom: 1.5rem;
        font-size: 24px;
    }
}

@media screen and (max-width: 376px) {
    .modal-header, .modal-body {
        padding: 0.5rem;
    }

    .modal-footer {
        padding: 0.375rem;
    }

    .mobile-hero-container .hero-content {
        padding: 15px;
    }
}

/* About page */

.about-logo {
    width: 200px;
}

.about-image {
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .about-logo {
        width: 150px;
    }

    .about-image {
        margin: 20px 0;
    }
}

@media screen and (max-width: 428px) {
    .about-logo {
        width: 120px;
    }
}

/* Products page/Product detail page */

.top-container {
    min-height: 90vh;
}

#home-page .hero-container {
    min-height: auto;
}

.page-header {
    font-weight: bold;
}

.product-card-container {
    margin: 15px 0;
}

.product-card {
    min-height: 520px;
    border: 4px solid var(--color-tertiary);
    border-radius: 10px;
}

.card-img-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product-card img {
    height: 360px;
    object-fit: cover;
    object-position: center;
}

.card-body,
.card-footer {
    background-color: var(--color-tertiary);
    border: 0;
    padding: 10px;
}

.card-body > .card-text {
    font-weight: 800;
    height: max-content;
}

.category-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-stock {
    font-weight: 700;
}

.out-of-stock .card-img-top,
.out-of-stock button {
    opacity: 0.3;
}

.out-of-stock button {
    pointer-events: none;
}

.stock {
    font-size: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination .page-item {
    margin: 3px;
}

.pagination .page-link {
    color: #000;
    background: radial-gradient(circle, var(--color-secondary), var(--color-tertiary));
    border: 2px solid var(--color-tertiary);
    border-radius: 5px;
    padding: 5px 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    position: relative;
}

.pagination .page-item.active .page-link {
    background: radial-gradient(circle, black 5%, var(--color-primary) 85%);
    border-color: var(--color-accent);
}

.pagination .page-link:hover {
    background: radial-gradient(circle, var(--color-primary) 5%, var(--color-secondary) 85%);
    border-color: rgb(182, 211, 229);
    color: #fff;
}

.image-container > a {
    width: 100%;
}

.card-img {
    width: 100%;
}

.quantity-update {
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 1399px) {
    .product-card img {
        height: 320px;
    }
}

@media screen and (max-width: 1199px) {
    .product-card-container {
        margin: 8px 0;
    }
}

@media screen and (max-width: 991px) {
    .quantity-update {
        width: 80%;
    }

    .product-card img {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .quantity-update {
        width: 50%;
    }

    .product-card img {
        height: 360px;
    }
}

@media screen and (max-width: 680px) {
    .product-card img {
        height: 300px;
    }
}

@media screen and (max-width: 575px) {
    .product-card img {
        height: 440px;
    }
}

@media screen and (max-width: 428px) {
    .quantity-update {
        width: 65%;
    }

    .product-card {
        min-height: 400px;
    }

    .product-card img {
        height: 400px;
    }

    .price-stock {
        font-size: 16px;
    }
}

@media screen and (max-width: 376px) {
    .quantity-update {
        width: 75%;
    }

    .product-card img {
        height: 360px;
    }
}

@media screen and (max-width: 324px) {
    .quantity-update {
        width: 90%;
    }

    .product-card img {
        height: 280px;
    }

    .category-rating-container {
        display: block;
    }
}

/* Toasts */

.message-container {
    position: fixed;
    top: 90px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.cart-notification-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 428px) {
    .message-container {
        top: 75px;
    }

    .custom-toast {
        max-width: 250px;
    }

    .custom-toast .toast-body {
        word-wrap: break-word;
        white-space: normal;
    }
}

/* Checkout/Checkout success/Shopping cart pages */

.shopping-cart {
    height: 400px;
    width: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.cart-card {
    border: solid 2px var(--color-tertiary);
    border-radius: 10px;
    overflow: hidden;
}

.cart-sub-header {
    background-color: var(--color-tertiary);
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.quantity-input-group {
    max-width: 240px;
}

.button-square {
    font-size: 12px;
    width: 38px;
    height: 38px;
}

.button-square span > i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button[data-decrement] span,
.button[data-decrement] i,
.button-square.btn-secondary[data-decrement] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button[data-increment] span,
.button[data-increment] i,
.button-square.btn-secondary[data-increment] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button[data-decrement].disabled, .button[data-increment].disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.update-link, .remove-link {
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
}

.order-instructions {
    font-weight: 600;
}

.checkout-form,
.product-detail-form {
    border: 4px solid var(--color-tertiary);
    padding: 20px;
    border-radius: 10px;
}

.product-detail-form {
    margin: auto;
}

.fieldset-label {
    font-weight: 600;
    font-size: 18px;
}

.subtotal-small-screen {
    display: none;
}

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid var(--color-tertiary);
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 1px #cfd7df;
    border-color: rgb(160, 160, 245);
}

.StripeElement--invalid {
    border: 2px solid #fa755a;
    box-shadow: 0 0 5px 0 #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: var(--color-secondary);
    font-weight: 600;
}

.error {
    margin-right: 10px;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, 0.85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.order-summary-form {
    border: 4px solid var(--color-tertiary);
    padding: 20px;
    border-radius: 10px;
}

.order-summary-subheader {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .shopping-cart {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 428px) {
    .shopping-cart {
        border-radius: 10px;
    }

    .checkout-form,
    .product-detail-form {
        padding: 12px;
    }

    .order-summary-form {
        padding: 12px;
    }

    .order-summary-subheader {
        font-size: 16px;
    }

    .subtotal-large-screen {
        display: none;
    }

    .subtotal-small-screen {
        display: block;
    }

    .small-grid {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .large-grid {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }
}

@media screen and (max-width: 324px) {
    .grand-total {
        font-size: 24px;
    }
}

/* Authentication pages */

.background {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
}

.form-container {
    border: 4px solid var(--color-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.form {
    margin-top: 10px;
    padding: 0;
    width: 100%;
}

.form-field {
    padding: 0 20px;
    width: 100%;
}

.form-control {
    margin: 0;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--color-secondary);
    font-weight: 600;
}

.pw-reset {
    margin-bottom: 10px;
}

.signup-text, .login-text {
    margin-top: 20px;
    text-align: center;
}

.link {
    color: rgb(88, 189, 252);
    transition: color 0.3s;
}

.link:hover {
    filter: drop-shadow(0 0 0.5px rgb(20, 160, 247));
}

.error-text {
    color: rgb(220, 53, 69);
    margin: 0 5px 10px 5px;
}

@media screen and (max-width: 428px) {
    .form-field {
        padding: 0 10px;
    }

    .error-text {
        margin: 0 3px 10px 3px;
    }
}

/* Profile page */

.delivery-info-container h2,
.order-history-container h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.delivery-info-card {
    border: 4px solid var(--color-tertiary);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.delivery-info-card,
.order-history-card {
    max-height: 480px;
}

.order-history-card {
    border: 4px solid var(--color-tertiary);
    border-radius: 10px;
    padding: 20px;
}

.order-history {
    max-height: 400px;
    overflow-y: auto;
}

@media screen and (max-width: 428px) {
    .delivery-info-card,
    .order-history-card {
        padding: 10px;
    }

    .order-history-card th,
    .order-history-card td {
        font-size: 12px;
    }
}

@media screen and (max-width: 324px) {
    .order-history-card {
        padding: 7px;
    }
}

/* Product form */

.product-form {
    width: 600px;
    margin: 20px 0;
    padding: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.3s;
    margin: 5px 0;
    display: inline-block;
}

.btn-file input[id="new-image"] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
    margin: 10px 0;
}

.btn-file:hover,
.btn-file:focus {
    background-color: #000;
    color: #fff;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

#filename {
    margin: 5px 0;
}

/* Error pages */

.error-card {
    border: 4px solid var(--color-tertiary);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
}