<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item">By Name</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="notice-boards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notice boards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="notice-boards-link">
                <a href="{% url 'products' %}?category=floral_notice_boards" class="dropdown-item">Florals</a>
                <a href="{% url 'products' %}?category=spots_and_checks_notice_boards" class="dropdown-item">Spots and checks</a>
                <a href="{% url 'products' %}?category=linen_notice_boards" class="dropdown-item">Linen</a>
                <a href="{% url 'products' %}?category=childrens_notice_boards" class="dropdown-item">For children</a>
                <a href="{% url 'products' %}?category=other_notice_boards" class="dropdown-item">Other designs</a>
                <a href="{% url 'products' %}?category=floral_notice_boards,spots_and_checks_notice_boards,linen_notice_boards,childrens_notice_boards,other_notice_boards" class="dropdown-item">All notice boards</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="{% url 'products' %}?category=photo_frames">Photo frames</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="{% url 'products' %}?category=memo_blocks">Memo blocks</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="{% url 'products' %}?category=key_holders">Key Holders</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="{% url 'products' %}?category=filing_chests">Filing Chest</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="{% url 'products' %}?category=photo_albums">Photo Albums</a>
        </li>
    </ul>
</div>