<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item ">By Name</a>
                <a href="#" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="notice-boards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notice boards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="notice-boards-link">
                <a href="#" class="dropdown-item">Florals</a>
                <a href="#" class="dropdown-item">Spots and checks</a>
                <a href="#" class="dropdown-item">Linen</a>
                <a href="#" class="dropdown-item">For children</a>
                <a href="#" class="dropdown-item">Other designs</a>
                <a href="#" class="dropdown-item">All notice boards</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="#">Photo frames</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="#">Memo blocks</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="#">Key Holders</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="#">Filing Chest</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="#">Photo Albums</a>
        </li>
    </ul>
</div>