{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Home{% endblock %}

{% block content %}
<main class="plain-background" id="home-page">
    <!-- Hero -->
    <section class="container top-container hero-container" data-top-block>
        <div class="row">
            <div class="col-6 hero-image"></div>
            <div class="col-6 hero-background d-flex flex-column text-center">
                <h1 class="hero-title pb-3 pt-5 px-4">Sue Bensassi Designs</h1>
                <div>
                    <h2 class="hero-subtitle">Home Accessories and Gifts</h2>
                    <p class="pb-3 px-4 m-0">For Children and Adults</p>
                    <h2 class="hero-subtitle">Don't see a design you like?</h2>
                    <p class="pb-3 px-4 m-0">We can make it for you! <br> Just request free fabric swatches or supply your own.</p>
                    <h2 class="hero-subtitle">Looking for a specific size?</h2>
                    <p class="pb-3 px-4">We can adjust that too.</p>
                </div>
                <div class="btn-container pb-5">
                    <a href="{% url 'products' %}" class="button btn-secondary">
                        <i></i><i></i>
                        <span>Shop</span>
                    </a>
                    <a href="#" class="button btn-secondary">
                        <i></i><i></i>
                        <span>Contact</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="top-container mobile-hero-container" data-top-block>
        <div class="mobile-hero-background">
            <div class="hero-content">
                <h1 class="text-center">Sue Bensassi Designs</h1>
                <div class="btn-container">
                    <a href="{% url 'products' %}" class="button btn-secondary">
                        <i></i><i></i>
                        <span>Shop</span>
                    </a>
                    <a href="#" class="button btn-secondary">
                        <i></i><i></i>
                        <span>Contact</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <hr class="divider my-5">
    </div>

    <!-- Filing chest showcase -->
    <section class="container">
        <header class="section-header text-center">
            <h2>GET ORGANISED!</h2>
        </header>
        <div class="row card-container">
            <div class="col-md-4 mb-4">
                <div class="card showcase-card h-100">
                    <a href="{% static 'images/elephant-filing-chest.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/elephant-filing-chest.jpg' %}" class="card-img-top" alt="A brown filing chest with an elephant">
                    </a>
                    <div class="card-body">
                        <p>
                            This filing chest ottoman is covered in the classic, ever popular Andrew Martin <strong>JEHAN</strong> elephant fabric. 
                            Just one of the fabrics from our extensive range. Shown here with round wood feet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card showcase-card middle-card h-100">
                    <div class="card-body text-center">
                        <h3 class="card-title">Home Office Solutions</h3>
                        <br>
                        <p>This filing chest/ottoman is all you need to organise your paperwork!</p>
                        <br>
                        <p>
                            Order one with castors and you can move it with ease to any room of the house!
                            Made to order in your choice of fabric.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card showcase-card h-100">
                    <a href="{% static 'images/chequered-filing-chest.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/chequered-filing-chest.jpg' %}" class="card-img-top" alt="A green and white chequered filing chest">
                    </a>
                    <div class="card-body">
                        <p>
                            Stylish and modern, this filing chest/ottoman is upholstered in Ian Mankin <strong>SUFFOLK CHECK</strong> fabric.
                            Available in various colourways. Shown here with wooden feet but can be supplied with castors.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <hr class="divider my-5">
    </div>

    <section class="container">
        <header class="section-header text-center mb-4">
            <h2>SHOP BY CATEGORY</h2>
        </header>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card showcase-card">
                    <h3 class="sub-header text-center sample mb-0">Notice Boards</h3>
                    <a href="{% url 'products' %}?category=floral_notice_boards,spots_and_checks_notice_boards,linen_notice_boards,childrens_notice_boards,other_notice_boards" target="_blank" rel="noopener">
                        <img src="{% static 'images/sample-notice-boards.jpg' %}" alt="A sample of notice boards" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card showcase-card">
                    <h3 class="sub-header text-center sample mb-0">Memo Blocks</h3>
                    <a href="{% url 'products' %}?category=memo_blocks" target="_blank" rel="noopener">
                        <img src="{% static 'images/sample-memo-blocks.jpg' %}" alt="A sample of memo blocks" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card showcase-card">
                    <h3 class="sub-header text-center sample mb-0">Photo Frames</h3>
                    <a href="{% url 'products' %}?category=photo_frames" target="_blank" rel="noopener">
                        <img src="{% static 'images/sample-photo-frames.jpg' %}" alt="A sample of photo frames" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4 mb-4">
                <div class="card showcase-card">
                    <h3 class="sub-header text-center sample mb-0">Photo Albums</h3>
                    <a href="{% url 'products' %}?category=photo_albums" target="_blank" rel="noopener">
                        <img src="{% static 'images/sample-photo-albums.jpg' %}" alt="A sample of photo albums" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card showcase-card">
                    <h3 class="sub-header text-center sample mb-0">Key Holders</h3>
                    <a href="{% url 'products' %}?category=key_holders" target="_blank" rel="noopener">
                        <img src="{% static 'images/sample-key-holders.jpg' %}" alt="A sample of key holders" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card showcase-card">
                    <h3 class="sub-header text-center sample mb-0">Filing Chests</h3>
                    <a href="{% url 'products' %}?category=filing_chests" target="_blank" rel="noopener">
                        <img src="{% static 'images/sample-filing-chests.jpg' %}" alt="A filing chest sample" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <hr class="divider my-5">
    </div>

    <!-- Best sellers -->
    <section class="container">
        <header class="section-header text-center">
            <h2>BEST SELLERS</h2>
        </header>
        <h3 class="sub-header text-center my-3">Notice Boards</h3>
        <div class="row mb-3">
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/floral-nb9.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/floral-nb9.jpg' %}" alt="A floral-themed notice board" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/linen1.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/linen1.jpg' %}" alt="A butterfly-themed notice board" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/linen2.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/linen2.jpg' %}" alt="A French-themed notice board" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/linen-beige-smallpic.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/linen-beige-smallpic.jpg' %}" alt="A plain beige notice board" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/childrenboard1.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/childrenboard1.jpg' %}" alt="A sea-themed notice board" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/childrenboard2.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/childrenboard2.jpg' %}" alt="A dinosaur-themed notice board" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/childrenboard3.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/childrenboard3.jpg' %}" alt="A plane-themed notice board" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/childrenboard4.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/childrenboard4.jpg' %}" alt="A sports-themed notice board" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/spotcheck-nb5.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/spotcheck-nb5.jpg' %}" alt="A dark-blue spotted notice board" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/childrenboard6.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/childrenboard6.jpg' %}" alt="A light-blue notice board with stars" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/childrenboard7.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/childrenboard7.jpg' %}" alt="An animal-themed notice board" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/childrenboard8.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/childrenboard8.jpg' %}" alt="A notice board featuring a young girl playing with her dog" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <h3 class="sub-header text-center my-3">Memo Blocks</h3>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/memo1.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/memo1.jpg' %}" alt="A daschund-themed memo block" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/memo2.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/memo2.jpg' %}" alt="A musical-notes-themed memo block" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/memo3.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/memo3.jpg' %}" alt="A memo block with a red dog silhouette" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card showcase-card">
                    <a href="{% static 'images/memo4.jpg' %}" target="_blank" rel="noopener">
                        <img src="{% static 'images/memo4.jpg' %}" alt="A cartoon black-cat-themed memo block" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <hr class="divider mt-5">
    </div>
    <!-- Large logo -->
    <div class="col-12 my-auto text-center">
        <img class="large-logo" src="{% static 'images/logo.png' %}" alt="Logo for Sue Bensassi Designs">
    </div>

     <!-- Back to top button -->
     <a href="#" class="scroll-up-link" aria-label="Scroll to top button" data-scroll-up="Back to top">
        <i class="fa-regular fa-circle-up"></i>
    </a>
</main>
{% endblock %}