{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6 hero-image border"></div>
            <div class="col-6 text-center border">
                <h1 class="pb-3">Home Accessories and Gifts <br> <span class="small-font">(for Children and Adults)</span></h1>
                <h2>Don't see a design you like?</h2>
                <p class="pb-3">We can make it for you! <br> Just request free fabric swatches or supply your own.</p>
                <h2>Looking for a specific size?</h2>
                <p class="pb-3">We can adjust that too.</p>
                <div class="btn-container pb-3">
                    <button class="btn btn-hero btn-primary btn-lg px-2">Shop</button>
                    <button class="btn btn-hero btn-primary btn-lg px-2">Contact</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}