{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Terms and Conditions{% endblock %}

{% block content %}
<main class="plain-background">
    <div class="container top-container" data-top-block>
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="mb-4 text-center">Terms and Conditions</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>By accessing and using this website, you agree to be bound bythe following terms and conditions.
                    We offer a range of home accessories including notice boards, photo frames, photo albums,
                    key holders, memo blocks, and filing chests. All products are handmade and can be customised
                    according to customer specifications. All orders are subject to acceptance and availability.
                    Once your order has been placed, you will receive a confirmation email. If you do not receive
                    a confirmation email, please contact us to confirm your order status. All prices are listed in
                    GBP and include VAT where applicable. <br>
                    Payment can be made through our secure payment gateway using major credit and debit cards.
                    Full payment is required before dispatch of goods. Made to Order items are non-refundable
                    unless faulty. Return shipping costs are the responsibility of the customer. We will
                    not be liable for any direct, indirect, incidental, special, or consequential damages
                    resulting from the use or inability to use our products. This includes, but is not limited to,
                    damages for loss of profits, data, or other intangible losses. <br>
                    These terms and conditions are governed by and construed in accordance with the laws of England
                    and Wales. Any disputes arising from these terms and conditions shall be subject to the 
                    exclusive jurisdiction of the courts of England and Wales. We reserve the right to modify these
                    terms and conditions at any time. Any changes will be posted on this page.
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}