{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Contact{% endblock %}

{% block content %}
<main class="plain-background">
    <div class="container top-container" data-top-block>
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="mb-4 text-center">Contact</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="contact-note">For assistance, call us at <strong>07951775204</strong> or fill out the form below.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="card contact-form-container mx-3 mb-5">
                <h2 class="mt-2">Enquiry Form</h2>
                <hr class="divider">
                <form method="POST" class="contact-form">
                    {% csrf_token %}
                    <div class="form-fields">
                        <div class="form-field">
                            <label for="id_name">Name:</label>
                            {{ form.name }}
                        </div>
                        <div class="form-field">
                            <label for="id_email">Email:</label>
                            {{ form.email }}
                        </div>
                        <div class="form-field">
                            <label for="id_enquiry">Message:</label>
                            {{ form.enquiry }}
                        </div>
                    </div>
                    <div class="text-center btn-container">
                        <button class="button btn-secondary" type="submit">
                            <i></i><i></i>
                            <span>Submit</span>
                        </button>
                        <button class="button btn-info" type="reset">
                            <i></i><i></i>
                            <span>Clear</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}