{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Product Management{% endblock extra_title %}

{% block content %}

<main class="background">
    <div class="container top-container d-flex justify-content-center align-items-center" data-top-block>
        <div class="card form-container product-form">
            <header class="text-center">
                <h1>Edit a Product</h1>
            </header>
            <hr class="divider">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2 flex-column" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-center btn-container">
                    <button class="button btn-secondary btn-lg px-2" type="submit">
                        <i></i><i></i>
                        <span>Update</span>
                    </button>
                    <a class="button btn-secondary btn-lg px-2" href="{% url 'products' %}">
                        <i></i><i></i>
                        <span>Cancel</span>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <!-- Back to top button -->
    <a href="#" class="scroll-up-link" aria-label="Scroll to top button" data-scroll-up="Back to top">
        <i class="fa-regular fa-circle-up"></i>
    </a>
</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            const file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}