{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Products{% endblock %}

{% block content %}
    <div class="container-fluid top-container" data-top-block>
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="page-header">
                    {% if search_term %}
                        Searched for '{{ search_term }}'
                    {% else %}
                        Products
                    {% endif %}
                </h1>
                {% for c in current_categories %}
                    {% if 'notice_boards' in c.name %}
                        <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                            <span class="p-2 mt-2 badge badge-white rounded-0 border border-dark">{{ c.display_name }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card product-card h-100 border-black">
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.display_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            <p class="lead mb-0 text-left font-weight-bold">
                                                £{{ product.price }} <span class="text-muted">| Stock: {{ product.stock }}</span>
                                            </p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}